$color-orange: #ff6f00;
$color-blue: #0050FF;
$color-yellow: #ebe223;
$color-blue-alt: #0069aa;

$color-bright-bg: #f2f3ee;

$font-primary: 'IBM Plex Sans Condensed', sans-serif;
$font-secondary: 'Chakra Petch', sans-serif;
$font-mono: 'Roboto Mono', monospace;

$menu-min-width: 860px;
$mobile-small: 576px;
$mobile-large: 992px;

$margin-page-wide: 0 80px; // for layout-related images/areas etc (with enough space for vertical breadcrumb)
$margin-page-narrow: 0 176px 268px; // for text, content etc

body {
  background-color: $color-bright-bg;
  width: 100%;
  overflow-x: hidden;
  font-family: $font-primary;
  line-height: 1;
  font-size: 18px;
  color: #000;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: all .30s ease-out;
}
.page-enter, .page-leave-active {
  opacity: 0;
  transform-origin: 50% 50%;
}
